@model IEnumerable<WebApiLibrary.Models.User>

@{
    ViewData["Title"] = "Lista Użytkowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj Użytkownika <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Sukaj" class="btn btn-light" /> 
            <a asp-action="Index">x</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Dodaj">Dodaj Użytkownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Data urodzenia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Convert.ToDateTime(item.BirthDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edycja", new { id=item.UserId }) |
                @Html.ActionLink("Usuń", "Usun", new {  id=item.UserId  })
            </td>
        </tr>
}
    </tbody>
</table>
