@model WebApiLibrary.Models.Borrow

@{
    ViewData["Title"] = "Usun Wypożyczenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć to Wypożyczenie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id Wypożyczenia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowId)
        </dd>
        <dt class="col-sm-2">
            Id Użytkownika
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            Id Ksiązki
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            Data Wypożyczenia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            Data Zwrotu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            Zwrot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Return)
        </dd>
    </dl>

    <form asp-action="Usun">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <hr />
        <a asp-action="Index">Wróc do Listy Wypożyczeń</a>
    </form>
</div>
